*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: "Josefin Sans", sans-serif;
	font-size: 20px;
	color: rgb(60,94,67);
}
a{
	text-decoration: none;
	color: inherit;
	font-weight: 700;
}
h2{
	color: rgb(83,190,126);
}
h1, h2, p{
	margin: 20px 0;
}
.button{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	vertical-align: middle;
	text-decoration: none;
	margin: 10px;
	padding: 10px 30px;
	background-color: rgb(83,190,126);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
	.button:hover{
		background-color: rgb();
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}
	.button i{
		font-size: 20px;
		vertical-align: top;
		margin-right: 10px;
		line-height: inherit;
	}
.container{
	margin: 0 auto;
	width: 60%;
	min-width: 700px;
}
.left{text-align: left !important;}

section{
	position: relative;
	width: 100%;
	text-align: center;
	padding: 80px 0;
	padding-top: 160px;}
	section .row .content *{
		margin: 20px 0;}
	section .row .col img{
		width: 60%;}

.navbar-fixed{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	height: 100px;
	margin-bottom: -100px;}
	.navbar-fixed nav{
		position: fixed;
		top: 0;
		left: 0;
		height: 100px;
		width: 100%;
		z-index: 10;
		vertical-align: middle;
		transition:  all .5s ease-out;
		background-color: transparent;}
	.navbar-fixed nav.scrolled{
		height: 70px;
		transition:  all .5s ease-out;
		background-color: rgb(255,255,255);}
		nav .avatar{
			height: 80px;
			margin-top: 10px;
			margin-left: 40px;
			transition: all .5s ease-out;}
		nav.scrolled .avatar{
			height: 50px;
			margin-top: 10px;
			margin-left: 20px;
			transition: all .5s ease-out;}
		.navbar-fixed nav .navigation{
			display: block;
			float: right;}
			.navigation a{
				float: left;
				transition: all .5s ease-out;
				display: inline-block;
				line-height: 100px;
				height: 100px;
				padding: 0 30px;
				font-size: 18px;
			} .navigation a:hover, .navigation a.active{
				background-color: rgb(185,212,153);
				cursor: pointer;
				transition: all .5s ease-out;
			} nav.scrolled .navigation a{
				transition:  all .5s ease-out;
				height: 70px;
				line-height: 70px;
			}
		.navbar-fixed nav .mobile-nav-trigger{
			display: none;
		}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px; }
	.row:after {
		content: "";
		display: table;
		clear: both; }
	.row .col{
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 0.75rem;}
		.col.half{
			width: 50%;
			margin-left: 0;
		}

.cover{
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	background-image: url("../img/sky.jpg");
	background-size: cover;}
	.cover:after {
		content: "";
		display: table;
		clear: both; }
	.cover img.mountain{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.cover img.name{
		position: absolute;
		width: 400px;
		height: auto;
		left: 50%;
		margin-left: -200px;
		top: 150px;
	}
.main{
	position: relative;
	width: 100%;
	padding: 80px 0;
	text-align: center;
	margin-left: 0;
	margin-right: 0;}
	.main:after {
		content: "";
		display: table;
		clear: both; }
	.main figure img{
		max-width: 150px;
		margin-bottom: 20px;
	}
	article{
		max-width: 450px;
		margin: 0 auto;}

.about{
	text-align: center;
	background-color: rgb(250,255,199);}
	.about:after {
		content: "";
		display: table;
		clear: both; }

#timeline{
	position: relative;
	width: 70%;
	z-index: 1;
	padding: 0;
	padding-bottom: 20px;
	margin: 0 auto;}
	#timeline::before{
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		width: 4px;
		height: 100%;
		background-color: rgb(41,41,41);}
	#timeline .timeline-block{
		position: relative;

		margin: 20px 0;}
		.timeline-block:after{
			content: "";
			display: table;
			clear: both;
		}
		.timeline-block:first-child{
			margin-top: 0;
		}
		.timeline-block:last-child{
			margin-bottom: 0;
		}
		#timeline .timeline-block .timeline-img{
			position: absolute;
			left: 50%;
			z-index: 3;
			margin-left: -30px;
			top: 0;
			width: 60px;
			height: 60px;
			background-color: white;
			border-radius: 50%;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12), inset 0px 0px 8px rgba(0,0,0,0.3); }
			#timeline .timeline-block .timeline-img img{
				display: block;
				width: 50px;
				height: 50px;
				position: relative;
				left: 50%;
				top: 50%;
				margin-left: -25px;
				margin-top: -25px;
			}
		#timeline .timeline-block .timeline-content{
			position: relative;
			left: 50%;
			width: 400px;
			background-color: white;
			border-radius: 0.25em;
			padding: 1em;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
			.timeline-content:after{
				content: "";
				display: table;
				clear: both;
			}
			.timeline-block:nth-child(odd) .timeline-content{
				margin-left: 40px;
				text-align: left;
			}
			.timeline-block:nth-child(even) .timeline-content{
				margin-left: -440px;
				text-align: right;
			}
.work{
	position: relative;
	width: 100%;
	padding: 80px 0;
	text-align: center;
	margin-left: 0;
	margin-right: 0;}
	.work:after {
		content: "";
		display: table;
		clear: both; }
.project{
	position: relative;
	width: 48%;
	margin: 0 1%;
	margin-bottom: 10px;
	float: left;
	overflow: hidden; }
	.project img{
		width: 100%;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		height: 100%;}
	.project .caption{
		display: block;
		height: 100%;
		width: 100%;
		opacity: 0;
		cursor: default;
		position: absolute;
		z-index: 2;
		transition: all .6s ease-in-out;
		background-color: rgba(0,0,0,0.75);
		bottom: -100%;}
		.project:hover .caption{
			bottom: 0;
			opacity: 1;
			transition: all .6s ease-in-out;
			}
		.project .caption p{
			margin: 50px;
			color: white;
		}
		.project .caption span{
			position: absolute;
			left: 0;
			text-align: left;
			bottom: 0;
			width: 100%;
			padding: 10px;
			z-index: 3;
			background-color: white;}
			.project .caption span i{
				float: right;
			}

/*Photography page*/
.photography{
	position: relative;
	width: 100%;
	padding: 80px 0;
	text-align: center;
	margin-left: 0;
	margin-right: 0;}
	.photography .slider{
		position: relative;
		background-color: rgb(41,41,41);
		height: auto;
		width: 100%;
		margin-bottom: 20px;
		
		-webkit-perspective: 1000px;
		-moz-perspective: 1000px;
		-ms-perspective: 1000px;
		-o-perspective: 1000px;
		perspective: 1000px;

		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
		.photography .slider img{
			z-index: 2;
			margin: 0 auto;
			height: 500px;
			width: auto;}
		.photography .slider img.ng-hide-add{
			opacity: 1;

			-webkit-transition: 1s linear all;
			-moz-transition: 1s linear all;
			-o-transition: 1s linear all;
			transition: 1s linear all;

			-webkit-transform: rotateX(50deg) rotateY(30deg);
			-moz-transform: rotateX(50deg) rotateY(30deg);
			-o-transform: rotateX(50deg) rotateY(30deg);
			transform: rotateX(50deg) rotateY(30deg);

			-webkit-transform-origin: right top 0;
			-moz-transform-origin: right top 0;
			-o-transform-origin: right top 0;
			transform-origin: right top 0;
		}
		.photography .slider img.ng-hide-add.ng-hide-add-active{
			opacity: 0;
		}
		.photography .slider img.ng-hide-remove{
			-webkit-transition: 1s linear all;
			-moz-transition: 1s linear all;
			-o-transition: 1s linear all;
			transition: 1s linear all;

			display: block !important;
			opacity: 0;
		}
		.photography .slider img.ng-hide-remove.ng-hide-remove-active{
			opacity: 1;
		}
		.photography .slider .arrow{
			z-index: 5;
			position: absolute !important;
			display: inline-block;
			top: 250px;
			margin-top: -25px;
			padding: 0px 30px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			transition: all 0.4s ease-in;
			opacity: 0.4;
			cursor: pointer;
			background-color: rgba(220,220,220,0.5);
			color: rgba(29,29,29,0.4);
			position: relative;}
		.photography .slider .arrow:hover{
			transition: all 0.4s ease-in;
			background-color: rgb(220,220,220);
			box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		}
			.photography .slider .arrow i{
				font-size: 50px !important;
				vertical-align: middle;
				line-height: 50px;
			}
		.arrow.prev{
			left: 0px;}
		.arrow.next{
			right: 0px;}
	.photography .slider .carousel{
		list-style: none;
		display: block;
		transition: all 0.4s ease-in;
		width: 60%;
		height: 40px;
		margin: 0 auto;}
		.photography .slider .carousel li{
			height: inherit;
			margin: 0 5px;
			float: left;}
			.photography .slider .carousel li img{
				height: 100%;
				opacity: 0.3;
				transition: all 0.4s ease-in-out;
				width: auto;}
			.photography .slider .carousel li img:hover{
				opacity: 1;
				transition: all 0.4s ease-in-out;}

/*Contact Page*/	

.contact{display: block;}
@media only screen and (max-width: 600px){
	body{
		font-size: 18px;
	}
	.cover img.name{
		width: 200px !important;
		margin-left: -100px !important;
	}
	.navbar-fixed{
		transition:  all .5s ease-out;
		height: 70px;
		margin-bottom: -70px;}
		.navbar-fixed nav.scrolled{
			height: 70px;
		}
		.navbar-fixed nav{
			height: 70px;
		}
	.navbar-fixed nav .avatar{
		height: 50px;
		margin-top: 10px;
		margin-left: 20px;
	}
	.navbar-fixed nav .navigation a{
		line-height: 70px;
		font-size: 16px;
		padding: 0 10px;
	}
	.main{
		padding: 40px 0;
	}
	.container{
		min-width: 0;
		width: 90%;
	}
	.col.half{
		width: 100% !important;
	}

	#timeline{
	width: 90%;}
	#timeline::before{
		left: 10px;}
		#timeline .timeline-block .timeline-img{
			left: 10px;}
		#timeline .timeline-block .timeline-content{
			width: 90%;
			left: 20px !important;
			max-width: 400px;
			text-align: left;
			margin-left: 10px !important;}
			.timeline-content .date{
				float: left;
				padding: .8em 0;
				opacity: .7;
			}
		#timeline .timeline-block .timeline-img{
			height: 30px;
			width: 30px;
			margin-left: -15px;}
			#timeline .timeline-block .timeline-img img{
				height: 24px;
				width: 24px;
				margin-left: -12px;
				margin-top: -12px;
			}
	.project{
		width: 98%;
	}
}