<div class="photography">
	<div class="slider" ng-controller="photographyController">
		<img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}">
		
		<a class="arrow prev" ng-click="showPrev()"><i class="material-icons">chevron_left</i></a>
		<a class="arrow next" ng-click="showNext()"><i class="material-icons">chevron_right</i></a>
		
		<ul class="carousel">
			<li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
				<img ng-src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index)" />
			</li>
		</ul>
	</div>
</div>